<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="1">
    <listeners>
        <listener class-name="utility.ExtentReportListener"/>
    </listeners>
<!--    <test name="FirefoxTest">-->
<!--&lt;!&ndash;        <parameter name="browser" value="firefox"/>&ndash;&gt;-->
<!--        <classes>-->
<!--            <class name="Tests.CreateChallengeTest"/>-->
<!--        </classes>-->
<!--    </test>-->
    <!--    <test name="FirefoxTest">-->
    <!--        <parameter name="browser" value="firefox"/>-->
    <!--        <classes>-->
    <!--            <class name="tests.CuraHealthcareServiceTest"/>-->
    <!--        </classes>-->
    <!--    </test>-->
    <!--    <test name="EdgeTest">-->
    <!--        <parameter name="browser" value="edge"/>-->
    <!--        <classes>-->
    <!--            <class name="tests.CuraHealthcareServiceTest"/>-->
    <!--        </classes>-->
    <!--    </test>-->
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="Tests.LoginTest"/>
        </classes>
    </test>
<!--    <test name="APITest">-->
<!--        <classes>-->
<!--            <class name="API.Login"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>